body {
  background-color: #F9FCFF;
}

h4 {
  padding-bottom: 20px;
}

.jumbotron {
  margin-top: 100px;
  padding-top: -10px;
  border: 1px solid;
}

input[type=text] {
  width: 250px;
  border-ratio: 25px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  background-color: white;
  padding: 12px 12px 12px 12px;
}

.btn {
  margin: 10px 0px 10px 0px !important;
}

#output {
  padding: 30px 10px 0 10px;
  list-style-type: none;
}

li {
  border: 1px solid;
  border-radius: 4px;
  padding: 5px 5px 5px 5px;
  margin: 3px 2px 3px 2px;
  box-shadow: 3px 5px #888888;
}

li a {
  font-weight: bold;
  font-size: 20px;
}
