body {
  background-color: #F9FCFF;
}

h4 {
  padding-bottom:20px;
}

.jumbotron {
  margin-top: 100px;
  padding-top: -10px;
  border: 1px solid;
}

input[type=text] {
    width: 250px;
    border-ratio: 25px;
   box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;


   padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 1s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

.btn {
  margin: 10px 0px 10px 0px !important;
}

#output {
  padding-top: 30px;
  list-style-type: none;
}

li  {
   border: 1px solid;
  padding: 5px 0 5px 0;
  margin: 3px 2px 3px 2px;
}

li a {
  font-weight: bold;
  font-size: 20px;
}

